{% extends 'web/main.html' %}

{% block content %}
<body>
    <h5>Device locations</h5>
    <div class="container-fluid bg-light">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Device number</th>
                <th scope="col">Device position</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>D001</td>
                <td>lc1</td>
               
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>D002</td>
                <td>lc2</td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>D003</td>
                <td>lc3</td>               
              </tr>
            </tbody>
          </table>                    
    </div>
    <br>
    <br>
    <br>
    <br>
    <h5>Reserve entries</h5>
    <div class="container-fluid bg-light">
        <div class="container-fluid bg-light">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reserve entry position number</th>                                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>R001</td>                     
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>R002</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>R003</td>               
                  </tr>
                </tbody>
              </table>                    
        </div>
        
</body>

{% endblock %}